<div class="container mt-4">
  <div class="row justify-content-center"> 
    <div class="col-md-6 mb-5"> 
      <div class="card shadow p-4"> 
        <h2 class="text-center mb-4">Branch Form</h2> 

        <%= form_with model: branch do |form| %>
          <div class="form-group mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :location %>
            <%= form.text_field :location, class: 'form-control' %>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <%= form.submit 'Save', class: 'btn btn-dark px-5 py-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
