<div class="d-flex" style="min-height: 100vh;">

<div class="container mt-5">
  <h3 class="text-center mb-4">Medicine Management</h3>
  <%= render 'medicines/filter' %>
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @medicines.each do |medicine| %>
        <tr>
          <td><%= medicine.sku %></td>
          <td><%= medicine.name %></td>
          <td><%= number_to_currency(medicine.price) %></td> 
          <td><%= medicine.stock_quantity %></td>
          <td><%= medicine.expiry_date.strftime('%Y-%m-%d') if medicine.expiry_date %></td>
          <td>
            <div class="d-flex gap-2 justify-content-start">
            
            <% if policy(medicine).show? %>
              <%= link_to 'View Medicine Details', branch_medicine_path(@branch, medicine), class: 'btn btn-outline-dark btn-sm' %>
            <% end %>
            
            <% if policy(medicine).update? %>
              <%= link_to 'Edit Medicine Details', edit_branch_medicine_path(@branch, medicine), class: 'btn btn-outline-dark btn-sm' %>
            <% end %>
            
            <% if policy(medicine).destroy? %>
              <%= button_to 'Delete Medicine', branch_medicine_path(@branch, medicine), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' %>
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if policy(Medicine).create? %>
    <%= link_to 'Create New Medicine', new_branch_medicine_path(@branch), class: 'btn btn-dark mb-3 w-100' %>
  <% end %>
</div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @medicines %>
</div>