<h1><%= @medicine.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @medicine.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@medicine.price) %>
</p>

<p>
  <strong>Stock Quantity:</strong>
  <%= @medicine.stock_quantity %>
</p>

<p>
  <strong>Expiry Date:</strong>
  <%= @medicine.expiry_date.strftime("%B %d, %Y") %>
</p>

<%= link_to 'Back', branch_medicines_path(@branch), class: 'btn btn-secondary' %>
<%= link_to 'Edit', edit_branch_medicine_path(@branch, @medicine), class: 'btn btn-warning' %>
<%= link_to 'Destroy', branch_medicine_path(@branch, @medicine), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
