<div class="d-flex" style="min-height: 100vh;">
  <div class="container mt-5">
    <h3 class="text-center mb-4">Audit Logs</h3>
    <%= render 'audit_logs/filter' %>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Cashier</th>
            <th>Medicine</th>
            <th>Quantity Sold</th>
            <th>Total Amount</th>
            <th>Audited From</th>
            <th>Audited To</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @audit_logs.each do |log| %>
            <tr>
              <td><%= log.cashier.name %></td>
              <td><%= log.medicine.name %></td>
              <td><%= log.quantity_sold %></td>
              <td><%= number_to_currency(log.total_amount) %></td>
              <td><%= log.audited_from.strftime('%Y-%m-%d') %></td>
              <td><%= log.audited_to.strftime('%Y-%m-%d') %></td>
              <td>
                <div class="d-flex gap-2 justify-content-start">
                  <%= link_to 'Show', branch_audit_log_path(@branch, log), class: 'btn btn-outline-dark btn-sm' %>
                  <%= button_to 'Delete', branch_audit_log_path(@branch, log), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @audit_logs %>
</div>
