<%= form_with model: [@branch, @record], local: true, class: 'p-4' do |form| %>
  <div class="mb-4 p-3 border rounded bg-light">
    <h5 class="mb-3">Billing Details</h5>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :cashier_id, class: 'form-label' %>
        <%= form.collection_select :cashier_id, User.where(role: :cashier), :id, :name, {}, class: 'form-select' %>
      </div>

      <div class="col-md-6">
        <%= form.label :payment_method, class: 'form-label' %>
        <%= form.select :payment_method, Record.payment_methods.keys.map { |w| [w.titleize, w] }, {prompt: "Payment Method"}, class: 'form-select' %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :customer_name, class: 'form-label' %>
        <%= form.text_field :customer_name, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :customer_phone, class: 'form-label' %><br>
        <%= form.telephone_field :customer_phone, id: 'phone', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="p-3 border rounded bg-light">
    <h5 class="mb-3">Medicine Details</h5>

    <div id="medicines-fields">
      <%= form.fields_for :record_items do |item| %>
        <%= render 'medicine_fields', f: item %>
      <% end %>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-outline-dark" id="add-medicine">Add Medicine</button>
    </div>

    <div class="form-group mt-4">
      <%= form.submit 'Create Bill', class: 'btn btn-dark w-100' %>
    </div>
  </div>
  <%= link_to 'Back', branch_records_path(@branch), class: 'btn btn-dark mt-4' %>

  <!-- JavaScript to handle adding/removing dynamic fields -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const addMedicineButton = document.getElementById('add-medicine');
      const medicinesContainer = document.getElementById('medicines-fields');
      let medicineIndex = document.querySelectorAll('.medicine-fields').length;

      addMedicineButton.addEventListener('click', function(e) {
        e.preventDefault();
        
        let template = document.getElementById('medicine-template').innerHTML;
        template = template.replace(/RECORD_ITEM_INDEX/g, medicineIndex);

        medicinesContainer.insertAdjacentHTML('beforeend', template);

        let newFields = medicinesContainer.querySelectorAll('.medicine-fields:last-child');
        newFields.forEach(field => {
          field.querySelectorAll('input').forEach(input => input.value = '');
          field.querySelectorAll('select').forEach(select => select.selectedIndex = 0);
        });

        medicineIndex++;
      });

      medicinesContainer.addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-medicine')) {
          e.target.closest('.medicine-fields').remove();
        }
      });
    });
  </script>
<% end %>


<template id="medicine-template">
  <div class="medicine-fields row mb-3">
    <div class="col-md-4">
      <label for="record_record_items_attributes_RECORD_ITEM_INDEX_medicine_id" class="form-label">Select Medicine</label>
      <select name="record[record_items_attributes][RECORD_ITEM_INDEX][medicine_id]" id="record_record_items_attributes_RECORD_ITEM_INDEX_medicine_id" class="form-select select2-medicine">
        <%= options_for_select(@branch.medicines.all.pluck(:name, :id)) %>
      </select>
    </div>

    <div class="col-md-4">
      <label for="record_record_items_attributes_RECORD_ITEM_INDEX_quantity" class="form-label">Quantity</label>
      <input type="number" name="record[record_items_attributes][RECORD_ITEM_INDEX][quantity]" id="record_record_items_attributes_RECORD_ITEM_INDEX_quantity" class="form-control">
    </div>

    <div class="col-md-4">
      <label for="record_record_items_attributes_RECORD_ITEM_INDEX_price" class="form-label">Price</label>
      <input type="number" name="record[record_items_attributes][RECORD_ITEM_INDEX][price]" id="record_record_items_attributes_RECORD_ITEM_INDEX_price" class="form-control">
    </div>

    <div class="col-md-12 mt-2">
      <button type="button" class="btn btn-outline-dark remove-medicine">Remove</button>
    </div>
  </div>
</template>
