<div class="d-flex" style="min-height: 85vh;">
<div class="container mt-2">
  <h3 class="text-center mb-3">Records</h3>
  <%= render 'records/filter' %>
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Cashier</th>
        <th>Customer</th>
        <th>Total Amount</th>
        <th>Payment Method</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.cashier.name %></td>
          <td><%= record.customer_name %></td>
          <td><%= number_to_currency(record.total_amount) %></td>
          <td><%= record.payment_method %></td>
          <td>
            <div class="d-flex gap-3 justify-content-start">
              <% if policy(record).destroy? %>
              <%= link_to 'View Bill', branch_record_path(@branch, record), class: 'btn btn-outline-dark btn-sm px-1' %>
              <% end %>
              <% if policy(record).destroy? %>
              <% end %>
              <% if policy(record).edit? %>
              <%= link_to 'Edit Bill', edit_branch_record_path(@branch, record), class: 'btn btn-outline-dark btn-sm px-1' %>
              <% end %>
              <% if policy(record).destroy? %>
                <%= button_to 'Delete Bill', branch_record_path(@branch, record), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm px-1' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% if policy(Record).create? %>
  <%= link_to 'Create Bill', new_branch_record_path(@branch), class: 'btn btn-dark w-100' %>
<% end %>
</div>
</div>

<!-- Pagination Controls -->
<div class="d-flex justify-content-center">
  <%= paginate @records %>
</div>