<%= render 'records/nav' %>

  <div class="container">
    <div class="form-container p-4">
      <h1 class="mb-4 text-center">New Bill</h1>

        <% if @record.errors.any? %>
          <div class="alert alert-danger">
        <h4>Errors:</h4>
           <ul>
            <% @record.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <%= render 'form', record: @record %>
      <%= link_to 'Back', branch_records_path(@branch), class: 'btn btn-dark px-5 py-2 ms-3 mt-5' %>
    </div>
  </div>

  <%= render 'records/footer' %>
