<div class="d-flex" style="min-height: 100vh;">
<div class="container mt-5">
  <h3 class="text-center mb-4">Stock Transfers Management</h3>
  <%= render 'stock_transfers/filter' %>
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Requesting Branch</th>
        <th>Receiving Branch</th>
        <th>Status</th>
        <% if current_user.branch_admin? || current_user.super_admin? %>
        <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @stock_transfers.each do |transfer| %>
        <tr>
          <td><%= transfer.id %></td>
          <td><%= transfer.requesting_branch.name %></td>
          <td><%= transfer.receiving_branch.name %></td>
          <td><%= transfer.status %></td>
          <% if current_user.branch_admin? || current_user.super_admin? %>
          <td>
            <div class="d-flex gap-2 justify-content-start">

              <% if policy(transfer).show? %>
                <%= link_to 'View Stock Request Details', branch_stock_transfer_path(@branch, transfer), class: 'btn btn-outline-dark btn-sm' %>
              <% end %>

              <% if policy(transfer).edit? %>
                <%= link_to 'Edit Request', edit_branch_stock_transfer_path(@branch, transfer), class: 'btn btn-outline-dark btn-sm' %>
              <% end %>

              <% if policy(transfer).deny? %>
                <%= button_to 'Delete Transfer', branch_stock_transfer_path(@branch, transfer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' %>
              <% end %>

              <% if transfer.pending? %>
                <% if policy(transfer).approve? %>
                  <%= button_to 'Approve', approve_branch_stock_transfer_path(transfer.requesting_branch, transfer), method: :put, class: 'btn btn-outline-dark btn-sm' %>
                <% end %>

                <% if policy(transfer).deny? %>
                  <%= button_to 'Deny', deny_branch_stock_transfer_path(transfer.requesting_branch, transfer), method: :put, class: 'btn btn-outline-dark btn-sm' %>
                <% end %>
              <% end %>


            </div>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% if policy(StockTransfer).create? %>
  <%= link_to 'Create New Stock Transfer', new_branch_stock_transfer_path(@branch), class: 'btn btn-dark mb-3 w-100' %>
<% end %>
</div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @stock_transfers %>
</div>