<h1>Stock Transfers</h1>
<%= link_to 'New Stock Transfer', new_branch_stock_transfer_path(@branch), class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Requesting Branch</th>
      <th>Receiving Branch</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stock_transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.id %></td>
        <td><%= transfer.requesting_branch.name %></td>
        <td><%= transfer.receiving_branch.name %></td>
        <td><%= transfer.status %></td>
        <td>
          <%= link_to 'Show', branch_stock_transfer_path(@branch, transfer), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_branch_stock_transfer_path(@branch, transfer), class: 'btn btn-warning' %>
          <% if transfer.pending? %>
            <%= link_to 'Approve', approve_branch_stock_transfer_path(transfer.requesting_branch, transfer), method: :put, class: 'btn btn-success' %>
            <%= link_to 'Deny', deny_branch_stock_transfer_path(transfer.requesting_branch, transfer), method: :put, class: 'btn btn-danger' %>
          <% end %>
          <%= link_to 'Delete', branch_stock_transfer_path(@branch, transfer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
