<h1>Stock Transfer Details</h1>
<p>
  <strong>ID:</strong>
  <%= @stock_transfer.id %>
</p>
<p>
  <strong>Requesting Branch:</strong>
  <%= @stock_transfer.requesting_branch.name %>
</p>
<p>
  <strong>Receiving Branch:</strong>
  <%= @stock_transfer.receiving_branch.name %>
</p>
<p>
  <strong>Status:</strong>
  <%= @stock_transfer.status %>
</p>
<p>
  <strong>Medicines:</strong>
  <%= @stock_transfer.medicines %>
</p>

<%= link_to 'Edit', edit_branch_stock_transfer_path(@branch, @stock_transfer), class: 'btn btn-warning' %>
<%= link_to 'Back to Stock Transfers', branch_stock_transfers_path(@branch), class: 'btn btn-secondary' %>
