<%= render 'stock_transfers/nav' %>

<div class="container mt-5 py-2 d-flex justify-content-center">
  <div class="card shadow-sm p-3" style="width: 400px;">
    <h5 class="card-header text-center text-light bg-dark mb-3">
      Stock Transfer Details
    </h5>

    <div class="card-body">
      <p>
        <strong>ID:</strong>
        <%= @stock_transfer.id %>
      </p>

      <p>
        <strong>Requesting Branch:</strong>
        <%= @stock_transfer.requesting_branch.name %>
      </p>

      <p>
        <strong>Receiving Branch:</strong>
        <%= @stock_transfer.receiving_branch.name %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @stock_transfer.status %>
      </p>

      <h5 class="mt-5">Medicines:</h5>
      <% if @stock_transfer.medicines.present? %>
        <% medicines = JSON.parse(@stock_transfer.medicines) rescue {} %>
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Medicine</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% medicines.each do |medicine, quantity| %>
              <tr>
                <td><%= medicine %></td>
                <td><%= quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No medicines available for this transfer.</p>
      <% end %>
    </div>

    <div class="d-flex justify-content-center gap-5 mt-3">
      <%= link_to 'Back to Stock Transfers', branch_stock_transfers_path(@branch), class: 'btn btn-outline-dark me-3' %>
      <%= link_to 'Edit', edit_branch_stock_transfer_path(@branch, @stock_transfer), class: 'btn btn-outline-dark ms-3' %>
    </div>
  </div>
</div>
<%= link_to 'Back to Branch', branch_path(@branch), class: 'btn btn-sm btn-dark ms-3' %>
<%= render 'stock_transfers/footer' %>
